[submodule "modules/gtm-reborn"]
	path = modules/gtm-reborn
	url = https://github.com/Gregtech-Modern-Reborn/GregTech-Modern-Reborn
	branch = satou
[submodule "modules/gtecore"]
	path = modules/gtecore
	url = https://github.com/takanashisatou/gtecore
	branch = master
[submodule "modules/gt--"]
	path = modules/gt--
	url = https://github.com/takanashisatou/GT---Community-Edition
	branch = kotlin
[submodule "modules/docs"]
	path = modules/docs
	url = https://github.com/takanashisatou/GregtechEasy-Docs
	branch = main
